* {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
    font-size : 100%;
    font-weight : normal; 
    margin : 0px;
    padding: 0px;
}

html, body {
    height : 100%;
}

h1, h2, h3 {
    margin : 1% auto;
    text-align : center;
}

h1 {
    font-size : 200%;
}

h2 {
    font-size : 160%;
}

h3 {
    font-size : 140%;
}

ol {
}

li.sentence {
    margin : 0 1% 0 2%;
    font-size : 120%;
    list-style-type : none;
}

.sentence {
    
}

.slide {
    margin : 1%;
    border : 2px solid #D399A2;
    border-radius : 1%;
    height : 90%; 
}

.passive {
    display : none;    
}

#title {
    text-align : center;
    margin : 18% auto 0 auto;
    font-size : 250%;
}

#author {
    text-align : center;
    margin : 1% auto;
    font-size : 200%;
}
